* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: darkgrey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score {
  width: 90vmin;
  text-align: end;
}

.board {
  background: linear-gradient(lightblue, lightyellow);
  width: 90vmin;
  height: 92vmin;
  border: 2px solid black;

  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.snake-head {
  background-color: red;
  border: 2 solid purple;
  border-radius: 12px;
}

.snake-body {
  background-color: green;
  border: .25vmin solid white;
  border-radius: 16px;

}

.food {
  background: linear-gradient(red, purple);
  border: .25vmin solid black;
  border-radius: 8px;
  /* animation: food-blink 1.5s infinite; */
}

@keyframes food-blink {
  0% { background: linear-gradient(red, rgb(185, 119, 185)) }
  25% { background:  linear-gradient(red, yellow) }
  50% { background: linear-gradient(red, purple) }
  100% { background:  linear-gradient(red, yellow) }
}

.extra-food {
  background: gold;
  border: .50vmin solid red;
  border-radius: 15px;
  /* animation: food-blink 1.5s infinite; */
}